.login__block, .register__block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login__content, .register__content{
    background-color: var(--bgc);
    color: var(--tc);
    text-align: center;
    padding: 71px 44px;
    width: 606px;
    border-radius: 25px;
}
.form__title, .register__title{
    font-size: 38px;
    font-weight: 900;
    line-height: 46.32px;
    margin-bottom: 76px;
    text-transform: uppercase;
}
.login__form, .register__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;

}
.input__block{
    display: flex;
    padding: 15px;
    background-color: var(--fic);
    border: 3px solid var(--tc);
    width: 100%;
    border-radius: 10px;
    gap: 22px;
}
.input__image{
    border-right: solid 3px var(--tc);
    padding-right: 15px;
}
.input{
    font-size: 30px;
    background: none;
    color: var(--tc);
    margin-right: 42px;
}
.input__button{
    width: 100%;
    border-radius: 10px;
    padding: 35px 0;
    background-color: var(--tc);
    color: var(--bgc);
    font-weight: 900;
    font-size: 29px;
    transition: .3;
    &:hover{
        opacity: .8;
        color: #14b8a6;
    }
    &:focus{
        border: 3px solid #14b8a6;
    }
}